openapi: 3.2.0
info:
  title: Garner Health Provider Annotations API
  version: v1.11.0
  license:
    name: Commercial
    url: https://getgarner.com
  description: Garner's APIs power its core provider recommendation experience.
servers:
- url: https://api.getgarner.com
security:
- ApiToken: []
tags:
- name: Provider Annotations
paths:
  /provider-annotations/{provider_id}:
    parameters:
    - $ref: '#/components/parameters/acceptVersion'
    post:
      operationId: CreateProviderAnnotations
      summary: Annotate a Provider record for accuracy
      parameters:
      - name: provider_id
        in: path
        required: true
        schema:
          type: string
        description: The Garner ID for the provider.
        example: p.f3ac4f1a01275ca68e6c932ad4722491
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAnnotation.RequestBody'
      responses:
        '200':
          description: Created annotations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAnnotation.ResponseBody'
        '422':
          description: Annotation field not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
      tags:
      - Provider Annotations
components:
  parameters:
    acceptVersion:
      name: Accept-Version
      in: header
      required: true
      schema:
        type: integer
        enum:
        - 1
      description: The API major version.
  schemas:
    CreateAnnotation.ResponseBody:
      type: object
      properties:
        count:
          type: number
          description: Number of annotations created
          example: 1
      required:
      - count
      additionalProperties: false
      description: Returns number of annotations created
    CreateAnnotation.RequestBody:
      $ref: '#/components/schemas/CreateAnnotationParams'
    ServiceError:
      type: object
      properties:
        requestId:
          type: number
        message:
          type: string
        data:
          type: object
          additionalProperties: true
      required:
      - message
      additionalProperties: false
    AnnotationField:
      type: string
      enum:
      - specialty
      - phoneNumber
      - firstName
      - lastName
      - locationName
      - gender
      - credentials
      - faxNumber
      - street1
      - street2
      - city
      - state
      - zipCode
    CreateAnnotationParams:
      type: object
      properties:
        locationId:
          type: string
          description: id of the provider's location
          example: c52305b90e2a5ce08ce6f0a621acd22f
        annotations:
          type: array
          items:
            $ref: '#/components/schemas/Annotation'
          description: List of annotations for the provider record
          example:
          - field: phoneNumber
            isCorrect: false
            value: 2121126544
            correctedValue: 2121126542
      required:
      - locationId
      - annotations
      additionalProperties: false
    Annotation:
      type: object
      properties:
        field:
          $ref: '#/components/schemas/AnnotationField'
          description: key of the field to be annotated
          example: phoneNumber
        value:
          anyOf:
          - type: string
          - type: object
            additionalProperties:
              type: string
          description: value of the field that is being annotated. It can either be a string or an object.
          example: 2121126544
        isCorrect:
          type: boolean
          description: indicates whether the current value is correct or incorrect
          example: false
        correctedValue:
          anyOf:
          - type: string
          - type: object
            additionalProperties:
              type: string
          description: Corrected value of the annotated field
          example: 2121126542
      required:
      - field
      - value
      - isCorrect
      additionalProperties: false
  securitySchemes:
    ApiToken:
      type: http
      scheme: bearer
      bearerFormat: API_TOKEN
