openapi: 3.2.0
info:
  title: Garner Health Facilities API
  version: v1.11.0
  license:
    name: Commercial
    url: https://getgarner.com
  description: Garner's APIs power its core provider recommendation experience.
servers:
- url: https://api.getgarner.com
security:
- ApiToken: []
tags:
- name: Facilities
paths:
  /facilities/{facility_id}:
    parameters:
    - $ref: '#/components/parameters/acceptVersion'
    get:
      description: 'This endpoint returns details about a single location of a facility including data for each of the facility''s specialties

        and directory data for the requested location.


        Note that one facility ID can be related to many different locations. This endpoint

        will only show data for one location of a facility, according to the location ID included on the request.'
      operationId: GetFacility
      summary: Get details about a facility
      parameters:
      - name: facility_id
        in: path
        required: true
        schema:
          type: string
          description: The Garner ID for the facility. It will always have the prefix `f.`
          pattern: ^f\.[0-9a-f]+$
          example: f.l3ac4f1a01275ca68e6c932ad4722491
      - name: location_id
        required: true
        description: The Garner location ID for a specific location of the requested facility ID.
        in: query
        schema:
          type: string
      - name: network_id
        description: The list of networks to include on the facility response.
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Facility found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Facility'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Missing required query parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceError'
      tags:
      - Facilities
components:
  schemas:
    FacilityLocation:
      description: The address of the facility
      allOf:
      - type: object
        properties:
          location_id:
            description: Unique identifier for the location
            type: string
        required:
        - location_id
      - $ref: '#/components/schemas/LocationBase'
    WorkingHours:
      description: The days and times of day the provider's office is open
      type: object
      properties:
        day:
          $ref: '#/components/schemas/DayOfWeek'
        open:
          type: number
          description: The time of day the office opens. Represented as minutes after midnight
        close:
          type: number
          description: The time of day the office closes. Represented as minutes after midnight
    DayOfWeek:
      type: number
      enum:
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      description: ISO day of week (e.g. 1 is Monday)
    FacilitySpecialtyLocation:
      type: object
      properties:
        networks:
          type: array
          items:
            $ref: '#/components/schemas/FacilityNetwork'
      required:
      - networks
    Facility:
      type: object
      properties:
        id:
          type: string
          pattern: ^f\.[0-9a-f]+$
          description: Unique identifier for the provider
        npi:
          type: string
          description: National Provider Identifier
        organization_name:
          type: string
          description: Name of the facility
        specialties:
          type: object
          description: A map of all the facility location's specialties keyed by the specialty identifier
          additionalProperties:
            x-additionalPropertiesName: specialty
            $ref: '#/components/schemas/FacilitySpecialtyLocation'
        location:
          $ref: '#/components/schemas/FacilityLocation'
      required:
      - id
      - organization_name
      - specialties
      - location
      additionalProperties: false
      example:
        id: f.4e8ca318519553bfaf27010148931d12
        npi: 1881670123
        organization_name: Bronx Care Hospital
        specialties:
          mri_imaging_center:
            networks:
            - network_id: aetna
              is_in_network: true
              is_top_provider: false
            - network_id: cigna
              is_in_network: true
              is_top_provider: true
          xray_imaging_center:
            networks:
            - network_id: aetna
              is_in_network: true
              is_top_provider: true
            - network_id: cigna
              is_in_network: false
              is_top_provider: false
        location:
          location_id: 0110bfc5-664d-5276-a5b2-99d57a0207e6
          lines:
          - 2739 3rd Ave
          - '# 45'
          city: Bronx
          state: NY
          zip_code: '10451'
          position:
            lat: 40.8144984
            lng: -73.920922
          hours:
          - day: 1
            open: 480
            close: 1020
          - day: 2
            open: 480
            close: 1020
          - day: 3
            open: 480
            close: 1020
          - day: 4
            open: 480
            close: 1020
          - day: 5
            open: 480
            close: 1020
          phone_number: '7189927669'
          fax_number: '7189927669'
    ServiceError:
      type: object
      properties:
        requestId:
          type: number
        message:
          type: string
        data:
          type: object
          additionalProperties: true
      required:
      - message
      additionalProperties: false
    FacilityNetwork:
      type: object
      properties:
        network_id:
          type: string
          description: Unique identifier for the network
        is_in_network:
          type: boolean
          description: Whether the provider is in network for the given specialty at the given location
      required:
      - network_id
      - is_in_network
      additionalProperties: false
    LocationBase:
      type: object
      properties:
        lines:
          type: array
          items:
            type: string
          description: The lines of an address, in order
        city:
          type: string
          description: The city of the address
        state:
          type: string
          description: The state of the address
        zip_code:
          type: string
          description: The zip code of the address
        position:
          $ref: '#/components/schemas/Position'
        hours:
          description: The days and times of day the provider's office is open
          type: array
          items:
            $ref: '#/components/schemas/WorkingHours'
        phone_number:
          type: string
          format: '[0-9]{10}'
          description: 10-digit phone number
          example: 5555555555
        fax_number:
          type: string
          format: '[0-9]{10}'
          description: 10-digit fax number
          example: 5555555555
      additionalProperties: false
      required:
      - lines
      - city
      - state
      - zip_code
      - position
    Position:
      description: Global coordinates
      type: object
      properties:
        lat:
          type: number
          description: Latitude
        lng:
          type: number
          description: Longitude
      required:
      - lat
      - lng
      additionalProperties: false
  parameters:
    acceptVersion:
      name: Accept-Version
      in: header
      required: true
      schema:
        type: integer
        enum:
        - 1
      description: The API major version.
  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ServiceError'
  securitySchemes:
    ApiToken:
      type: http
      scheme: bearer
      bearerFormat: API_TOKEN
